.header {
  padding: 20px;
  text-align: center;
  background-color: transparent;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail {
  background-color: #E2E2E2;
  border-radius: 20px; /* Pas de border-radius aan */
  padding: 5px 10px;
  display: flex;
  align-items: center;
  height: 40px; /* Pas de hoogte aan */
}

.rectangle-48 {
  background: linear-gradient(to left, #e2e2e2, #e2e2e2);
  border-radius: 20px; /* Pas de border-radius aan */
  height: 30px;
  position: relative;
}

.iliasbach-hotmail-com {
  font-size: 16px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.copy-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px; /* Pas de border-radius aan */
  cursor: pointer;
  height: 40px; /* Pas de hoogte aan */
}

.copy-button:hover {
  background-color: #555;
}

.login-frame {
  width: 100px; /* Pas de breedte aan */
  height: 40px; /* Pas de hoogte aan */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 20px; /* Pas de border-radius aan */
  cursor: pointer;
}

.login2 {
  color: #000000;
  font-family: "Rubik-Regular", sans-serif;
  font-size: 16px; /* Pas de font-size aan */
  letter-spacing: 0.02em;
  font-weight: 400;
}